<!DOCTYPE html>
<html>
  <head>
    <title>MyStores</title>

    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="/assets/admin/favicon_1.ico">
    <link rel="icon" href="/assets/favicon_1.ico" type="image/x-icon">

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <!--Preloader-->                
    <aside class="left-panel">
      <!-- brand -->
      <div class="logo">
          <a href="index-2.html" class="logo-expanded">
              <i class="ion-social-buffer"></i>
              <span class="nav-label">My Store</span>
          </a>
      </div>
      <!-- / brand -->     
      <%= render :partial => "layouts/admin_left_accordian" %>


    </aside>
    <section class="content">
    <%= render :partial => "layouts/admin_header" %>
    <div class="wraper container-fluid">
      <%= yield %>
    </div>
    </section>
        <!-- Footer Start -->
    <footer class="footer">
        2016 © My Store.
    </footer>
    <!-- Footer Ends -->


  </body>
</html>
<%= render :partial => "layouts/not_loaded_js" %>

